body {
 background-image: url(./bg.png);
 background-size: 30%;
}

.App {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beanie-baby {
  margin: 20px;
  color: black;
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.3);
  width: 250px;
  padding: 10px;
  text-decoration: none;
}

.beanie-baby:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(255,215,0,0.6);
  z-index: 2;
}

.beanie-baby h2 {
  text-decoration: none;
}

.beanie-baby .beanie-img {
  width: 200px;
}

.beanies {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.beanie-detail {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.beanie-detail img {
  cursor: pointer;
  width: 400px;
}

.beanie-detail .beanie-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.beanie-detail .beanie-data p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}